@mixin movil{
    @media (min-width: $telefono) {
        @content;
    }
}

@mixin tablet{
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin computadora{
    @media (min-width: $desktop) {
        @content;
    }
}


@mixin grid($columnas, $gap) {
    display: grid;
    grid-template-columns: $columnas;
    column-gap: $gap;    
}

@mixin fadeAnimacion {
    @keyframes fadeIn {
        from{
            opacity: 0;
        }

        to{
            opacity: 1;
        }   
    }
    animation: fadeIn .5s forwards;
}