.aprendizajes-inicio{
    width: 100%;

    .ola{
        display: none;

        @include tablet{
            display: block;
        }
    }


     .contenedor-aprendizajes-texto{
        background-color: $celeste;
        padding: 10rem 0 5rem 0;


        @include tablet{
            margin: -5rem 0;
            padding-top: 2rem;
        }

        h2, p{
            color: $blanco;
        }

        h2{
            margin-top: 5rem;

            &::before{
                content: "";
                background-color: $blanco;
                height: .5rem;
                width: 5rem;
                display: block;
                margin-bottom: 2rem;
            }
        }

        .aprendizajes{
            margin-top: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .aprendizaje{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p{
                    text-align: center;
                }
            }

            @include tablet{
                @include grid(repeat(3, 1fr), 2rem);
            }
        }
    }
    
}