.proyecto{
    background-color: $celeste;
    padding-top: 8rem;
    width: 100%;

    @include tablet{
        margin-top: 5rem;
    }

    h2{
        color: $blanco;
        margin-bottom: 8rem;

        &::before{
            content: "";
            background-color: $blanco;
            height: .5rem;
            width: 5rem;
            display: block;
            margin-bottom: 2rem;
        }
    }

    .contenido-proyecto{
        padding-bottom: 8rem;

        .contenido-texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p{
                color: $blanco;
                text-align: center;
            }

            a{
                color: $blanco;
                background-color: $azul-oscuro;
                padding: 1.5rem 5rem;
                border-radius: 10px;
                box-shadow: .1rem .2rem .4rem $gris;
                transition: .3s;

                &:hover{
                    background-color: $blanco;
                    color: $celeste;
                    font-weight: $bold;
                }
            }
        }

        .contenido-imagen{
            
            img{
                box-shadow: .1rem .2rem .4rem $gris;
                border-radius: 50%;
            }
        }


        @include tablet{
            @include grid(repeat(2, 1fr), 5rem);
        }
    }

}